/* Proposition */
.proposition {
  background-color: var(--color-base-background-1);
}

.proposition .proposition__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
}

.proposition .proposition__grid .proposition__image {
  padding: 156px 0 0 0;
}

.proposition .proposition__grid .proposition__info {
  padding-top: 62px;
  padding-bottom: 53px;
}

.proposition .proposition__info h3 {
  margin-bottom: 40px;
}

.proposition .proposition__info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 18px 22px;
}

.proposition__info-grid div:nth-child(1),
.proposition__info-grid div:nth-child(3) {
  padding-right: 23px;
}

/* Media Query */
@media (max-width: 1200px) {
  .proposition {
    padding: 0 20px 0;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
}

@media (min-width: 768px) and (max-width: 991px) {
  .proposition {
    padding: 62px 20px;
  }

  .proposition .proposition__info h3 {
    margin-bottom: 26px;
  }

  .proposition .proposition__grid {
    gap: 31px;
  }

  .proposition .proposition__info-grid {
    grid-gap: 14px 30px;
  }

  .proposition .proposition__grid .proposition__info {
    padding-top: 0px;
    padding-bottom: 40px;
  }

  .proposition .proposition__grid {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .proposition .proposition__grid .proposition__image {
    order: 2;
  }

  .proposition .proposition__grid .proposition__image {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .proposition {
    padding: 40px 20px;
    background-color: var(--color-base-background-2);
  }

  .proposition .proposition__info h3 {
    margin-bottom: 26px;
  }

  .proposition .proposition__info-grid {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }

  .proposition .proposition__grid {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .proposition .proposition__grid .proposition__image {
    order: 2;
  }

  .proposition .proposition__grid .proposition__info {
    order: 1;
    padding-bottom: 0;
    padding-top: 0;
  }

  .proposition .proposition__grid .proposition__image {
    padding-top: 40px;
  }

  .proposition .proposition__grid .proposition__image img {
    width: 100%;
  }

  .proposition__info-grid div:nth-child(1),
  .proposition__info-grid div:nth-child(3) {
    padding-right: 0;
  }
}
